.git/**
.github/**
.vscode/**
node_modules/**
src/**
test/**
*.vsix
.gitignore
.prettier*
eslint.config.mjs
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig*.json
vitest.config.mts
*.tsbuildinfo
resources/screenshot-*.jpg
